@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before ::after {
  margin: 0;
  box-sizing: border-box;
  border: 1px solid blue;
}

body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  min-width: 375px;
  max-width: 1250px;
}

main {
  position: relative;
}

main .section__title {
  width: 100%;
}

a {
  text-decoration: none;
}

.btn {
  color: white;
  font-weight: 300;
  font-size: 16px;
  padding: 16px 24px;
  border: none;
  border-radius: 32px;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: transform 200ms;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
.btn:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.heart {
  color: #000;
  cursor: pointer;
  font-size: 25px;
}
.heart__full {
  opacity: 0;
  background-color: #FF79DA;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.heart__full:hover {
  opacity: 1;
  transition: opacity 1s;
}

.loader {
  position: fixed;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 100%;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: disappear 200ms 3s forwards;
  transform-origin: top;
}
.loader:after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #FF79DA;
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 2;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
main .tuto {
  counter-reset: ope;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 32px 32px 0 32px;
}
main .tuto ol {
  display: flex;
  flex-direction: column;
}
main .tuto li {
  display: flex;
  align-items: center;
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 24px;
  flex-grow: 1;
  border-radius: 20px;
  gap: 32px;
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
main .tuto li:hover {
  transform: scale(1.02);
  background-color: #f2eafb;
}
main .tuto li:hover .fas {
  color: #9356DC;
}
main .tuto li::before {
  content: counter(step);
  counter-increment: step;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  left: -16px;
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}
main .tuto li i.fas {
  margin-right: 16px;
  color: #7e7e7e;
}

main .city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #F3F3F3;
  text-align: center;
}
main .city i {
  font-size: 24px;
}
main .city-searchforminput {
  border-right: none;
  border-left: none;
  border-top: #F3F3F3 24px solid;
  border-bottom: #F3F3F3 24px solid;
  background-color: #F3F3F3;
  padding: 0 8px;
  width: 220px;
  font-weight: bold;
  font-size: 26px;
}
main .city-searchforminput-placeholder {
  color: black;
}

.header {
  padding: 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.header_logo {
  font-family: Shrikhand, "cursive";
  margin: 0;
  text-align: center;
}

.explorer {
  padding: 32px;
  text-align: center;
  background-color: #fafafa;
}
.explorer-title {
  margin-top: 16px;
  font-size: 24px;
}
.explorer-para {
  font-size: 16px;
  font-weight: 100;
}
.explorer-button {
  margin-top: 16px;
}

main .section__restaurants {
  flex-direction: column;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  margin: 32px 0 0 0;
  padding: 32px 32px 32px 32px;
}
@media screen and (min-width: 768px) {
  main .section__restaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
main .section__restaurants-title {
  width: 100%;
}
main .section__restaurants-card-image {
  width: 100%;
  height: 240px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
main .section__restaurants-cards {
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 16px 0;
  position: relative;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 768px) {
  main .section__restaurants-cards {
    width: 280px;
  }
  main .section__restaurants-cards:hover {
    transform: scale(1.02);
    filter: brightness(1.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
}
main .section__restaurants-cards i {
  bottom: 16px;
  position: absolute;
  right: 16px;
}
main .section__restaurants-cards-new {
  background-color: #99e2d0;
  border-radius: 5px;
  color: #1f9970;
  padding: 8px;
  position: absolute;
  right: 24px;
  top: 16px;
}
main .section__restaurants-cards-title {
  color: #000;
  margin: 8px 0 0 16px;
}
main .section__restaurants-cards-description {
  color: #000;
  margin: 0 0 8px 24px;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer {
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    align-items: baseline;
    flex-direction: inherit;
    gap: 120px;
    padding: 24px 0px 24px 32px;
  }
}
.footer-link {
  background: linear-gradient(to top, #FF79DA 0%, #FF79DA 10%, transparent 10.01%) no-repeat center bottom/0 100%;
  color: #fff;
  height: 32px;
  transition: all 0.3s ease-in-out;
}
.footer-link-title {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 700;
  margin: 16px 0;
  color: white;
}

.menu1 {
  max-width: 100%;
  max-height: 512px;
  width: 100%;
  object-fit: cover;
}

.header .blacklink {
  color: black;
  margin: 16px;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.container-menu {
  margin-top: -60px;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.container-menu-header {
  padding: 16px 32px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-menu-title {
  font-family: Shrikhand, "curise";
  margin: auto;
}
.container-menu-heart i {
  position: absolute;
  top: 20px;
  right: 32px;
}

.submenus {
  display: inherit;
}
@media screen and (min-width: 992px) {
  .submenus {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.submenus .submenu-title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
  font-weight: 400;
  max-width: 100%;
  overflow: hidden;
  padding: 8px 16px;
}
.submenus .submenu-title:after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #99e2d0;
  position: absolute;
  left: 16px;
  bottom: 0;
}
@media screen and (min-width: 992px) {
  .submenus .submenu-title {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 64px;
  }
}

.delai-0 {
  animation-delay: 0s;
}

.menuItem {
  background-color: #fff;
  display: flex;
  border-radius: 12px;
  margin: 16px 16px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(1);
  max-width: 100%;
}
.menuItem:hover {
  background-color: red;
  animation: logo 1s ease-in-out;
}
.menuItem-header {
  padding: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuItem-title {
  margin: 0px;
}
.menuItem-description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem-price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
}
.menuItem-confirmation {
  background-color: #99e2d0;
  width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuItem-wrapIcon {
  height: 25.6px;
  width: 25.6px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
.menuItem-Icon {
  color: #99e2d0;
}
@media screen and (min-width: 768px) {
  .menuItem {
    padding-left: 325px;
  }
}
@media screen and (min-width: 992px) {
  .menuItem {
    font-weight: 600;
    justify-content: flex-end;
    width: 140px;
    display: flex;
    align-items: flex-end;
    max-width: 100%;
    overflow: hidden;
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    max-width: 50px;
  }
}

.button_commande {
  text-align: center;
  padding: 24px;
}

@keyframes logo {
  0% {
    width: 0;
  }
  100% {
    width: 64px;
  }
}

/*# sourceMappingURL=style.css.map */
