@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before ::after {
  margin: 0;
  box-sizing: border-box;
  border: 1px solid blue;
}

body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  min-width: 375px;
  max-width: 1250px;
}

main {
  position: relative;
}

main .section__title {
  width: 100%;
}

a {
  text-decoration: none;
}

main .tuto {
  counter-reset: ope;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 32px 32px 0 32px;
}
main .tuto ol {
  display: flex;
  flex-direction: column;
}
main .tuto li {
  display: flex;
  align-items: center;
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 24px;
  flex-grow: 1;
  border-radius: 20px;
  gap: 32px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
main .tuto li:hover {
  transform: scale(1.02);
  background-color: #f2eafb;
}
main .tuto li::before {
  content: counter(step);
  counter-increment: step;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  left: -16px;
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}
main .tuto li i.fas {
  margin-right: 16px;
  color: #7e7e7e;
}
main .tuto li i.fas:hover {
  color: #9356DC;
}

main .city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #F3F3F3;
  text-align: center;
}
main .city i {
  font-size: 24px;
}
main .city-searchforminput {
  border-right: none;
  border-left: none;
  border-top: #F3F3F3 24px solid;
  border-bottom: #F3F3F3 24px solid;
  background-color: #F3F3F3;
  padding: 0 8px;
  width: 220px;
  font-weight: bold;
  font-size: 26px;
}
main .city-searchforminput-placeholder {
  color: black;
}

.header {
  padding: 16px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}
.header_logo {
  font-family: Shrikhand, "cursive";
  margin: 0;
  text-align: center;
}

.explorer {
  padding: 32px;
  text-align: center;
  background-color: #fafafa;
}

.explorer h2 {
  margin-top: 16px;
  font-size: 24px;
}

.explorer p {
  font-size: 16px;
  font-weight: 100;
}

.explorer button {
  color: white;
  font-weight: 300;
  font-size: 24px;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: transform 200ms;
  margin-top: 16px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}

.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

main .section__restaurants {
  flex-direction: column;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  margin: 32px 0 0 0;
  padding: 32px 32px 0 32px;
}
@media screen and (min-width: 768px) {
  main .section__restaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
main .section__restaurants-title {
  width: 100%;
}
main .section__restaurants-card-image {
  width: 100%;
  height: 240px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
main .section__restaurants-cards {
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 16px 0;
  position: relative;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 768px) {
  main .section__restaurants-cards {
    width: 320px;
  }
}
main .section__restaurants-cards i {
  bottom: 16px;
  color: #000;
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  right: 16px;
  transition: all 0.2s ease-in-out;
}
main .section__restaurants-cards-new {
  background-color: #99e2d0;
  border-radius: 5px;
  color: #1f9970;
  padding: 8px;
  position: absolute;
  right: 24px;
  top: 16px;
}
main .section__restaurants-cards-title {
  color: #000;
  margin: 8px 0 0 16px;
}
main .section__restaurants-cards-description {
  color: #000;
  margin: 0 0 8px 24px;
}

.footer {
  width: 100%;
  background-color: #353535;
  color: white;
  padding: 48px;
  display: flex;
  flex-direction: column;
}
.footer-link {
  background: linear-gradient(to top, #FF79DA 0%, #FF79DA 10%, transparent 10.01%) no-repeat center bottom/0 100%;
  color: #fff;
  height: 32px;
  transition: all 0.3s ease-in-out;
}
.footer-link-title {
  font-family: "Shrikhand", cursive;
  font-style: italic;
  font-weight: 700;
  margin: 16px 0;
  color: white;
}

/*# sourceMappingURL=style.css.map */
