.heart {
    color: #000;
    cursor: pointer;
    font-size: 25px;
    
    &__full {
        opacity: 0;
        background-color: $colorsecondaire;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        
        &:hover {
            opacity: 1;
            transition: opacity 1s;
        }
    }
}