*,
::before
::after {
    margin: 0;
    box-sizing: border-box;
    border: 1px solid blue;
}

body {
    margin: auto;
    font-family: "Roboto", sans-serif;
}

main {
    position: relative;
}

main .section__title {
    width: 100%;
}