// Page menu //

.menu1 {
    max-width: 100%;
    max-height: 512px;
    width: 100%;
    object-fit: cover;
}

.header .blacklink {
        color: black;
        margin: 16px;
        position: absolute;
        cursor: pointer;
        display: flex;
        align-items: center;
}

.container-menu {
    margin-top: -60px;
    border-radius: 32px 32px 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;

    &-header {
        padding: 16px 32px 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-title {
        font-family: Shrikhand,"curise";
        margin: auto;
    }

    &-heart {
        i {
            position: absolute;
            top: 20px;
            right: 32px;
        }
    }
}


.submenu {
    display: inherit;

    @media screen and (min-width: map-get($breakpoint,desktop)) {
        display: flex;
        justify-content: space-between;

    }

    .submenus {
        @media screen and (min-width: map-get($breakpoint,desktop)) {
            width: 33%;
        }
    }


    .submenu-title {
        text-transform: uppercase;
        position: relative;
        padding-bottom: 8px;
        font-weight: 400;
        max-width: 100%;
        overflow: hidden;
        padding: 8px 16px;

        &:after {
         content: "";
         width: 48px;
         height: 4px;
         background-color: #99e2d0;
         position: absolute;
         left: 16px;
         bottom: 0;
        }
            

        @media screen and (min-width: map-get($breakpoint,desktop)) {
            grid-template-columns: repeat(2, 1fr);
            gap: 64px;
            }
    }
}


.menuItem:nth-of-type(1) { animation-delay: 0.4s; }

.menuItem:nth-of-type(2) { animation-delay: 0.6s; }

.menuItem:nth-of-type(3) { animation-delay: 0.8s; }

.menuItem:nth-of-type(4) { animation-delay: 1s; }


.menuItem {
        background-color: #fff;
        // padding: 16px;
        display: flex;
        border-radius: 12px;
        margin: 16px 16px;
        box-shadow: 4px 4px 16px rgb(0 0 0 / 10%);
        overflow: hidden;
        cursor: pointer;
        animation: Appear 2s 1 forwards;
        opacity: 0;
        transform: scale(1);
        max-width: 100%;
    

        &:hover .menuItem-confirmation{ 
            margin-right: 0px;
            
        }
        
        &:hover .menuItem-wrapIcon {
            transform: rotate(360deg);
            transition-duration: .5s; 
        }



        &-header{
            padding: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            flex: 1;
        }

        &-title{
            margin: 0px;
        }

        &-description{
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &-price{
            font-weight: 700;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 10px; 
        }

        &-confirmation{
                background-color: #99e2d0;
                width: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: -70px;
                transition: margin 0.5s;
        }

        &-wrapIcon{
            height: 25.6px;
            width: 25.6px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
        }
        
        .menuitem-Icon{
            color: #99e2d0;
        }    
    }

.button_commande {
    text-align: center;
    padding: 24px;
    }





