//* Explorer *// 
@import "../utils/box-shadow.scss";

.explorer {
    padding: 32px;
    text-align: center;
    background-color: #fafafa;

    &-title {
        margin-top: 16px;
        font-size: 24px;
    }

    &-para {
        font-size: 16px;
    font-weight: 100;
    }

    &-button {
        color: white;
    font-weight: 300;
    font-size: 24px;
    padding: 16px 24px;
    border: none;
    border-radius: 32px;
    background-image: linear-gradient(to top, rgba(147,86,220,0.9),rgba(255,121,218,0.9));
    transition: transform 200ms;
    margin-top: 16px;
    @include base-shadow;
    }

    .explorer button:hover {
        transform: scale(1.02);
        opacity: 0.9;
        
    }

    
}

// .explorer h2 {
//     margin-top: 16px;
//     font-size: 24px;
// }

// .explorer p {
//     font-size: 16px;
//     font-weight: 100;
// }

// .explorer button {
//     color: white;
//     font-weight: 300;
//     font-size: 24px;
//     padding: 16px 32px;
//     border: none;
//     border-radius: 32px;
//     background-image: linear-gradient(to top, rgba(147,86,220,0.9),rgba(255,121,218,0.9));
//     transition: transform 200ms;
//     margin-top: 16px;
//     @include base-shadow;
// }

.explorer button:hover {
    transform: scale(1.02);
    opacity: 0.9;
    
}