//* Explorer *// 
@import "../utils/box-shadow.scss";

.explorer {
    padding: 32px;
    text-align: center;
    background-color: #fafafa;

    &-title {
        margin-top: 16px;
        font-size: 24px;
    }

    &-para {
        font-size: 16px;
    font-weight: 100;
    }

    &-button {
    margin-top: 16px;
    }

}
