.footer {
    background-color: #353535;
    color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: map-get($breakpoint,tablette)) {
        align-items: center;
    }

    @media screen and (min-width: map-get($breakpoint,desktop)) {
    align-items: baseline;
    flex-direction: inherit;
    gap: 120px;
    padding: 24px 0px 24px 32px;
    }




    &-link {
        background: linear-gradient(to top, #FF79DA 0%, #FF79DA 10%, transparent 10.01%) no-repeat center bottom/0 100%;
    color: #fff;
    height: 32px;
    transition: all 0.3s ease-in-out;
    }

    &-link-title {
        font-family: "Shrikhand", cursive;
        font-style: italic;
        font-weight: 700;
        margin: 16px 0;
        color: white;
    }
}




// .footer-link {
//     background: linear-gradient(to top, #FF79DA 0%, #FF79DA 10%, transparent 10.01%) no-repeat center bottom/0 100%;
//     color: #fff;
//     height: 24px;
//     transition: all 0.3s ease-in-out;
// }