//* Tuto *//


main .tuto {
    counter-reset: ope;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 32px 32px 0 32px;
    & ol {
        display: flex;
        flex-direction: column;
        @media (min-width: 768px){
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    & li {
        display: flex;
        align-items: center;
        position: relative;
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 24px;
        flex-grow: 1;
        border-radius: 20px;
        gap: 32px;
        @include base-shadow;
        &:hover {
            @include zoom;
        }
        @media (min-width: 768px){
            flex: 1;
            margin: 0 0 0 32px;
            margin-left: 12px;
        }
        &::before {
            content: counter(step);
            counter-increment: step;
            color: white;
            background-color: $purple;
            width: 2 *$tuto-bullet-height;
            height: 2 *$tuto-bullet-height;
            display: grid;
            place-items: center;
            border-radius: 50%;
            left: -16px;
            position: absolute;
            top: 50%;
            left: -1 *$tuto-bullet-height;  
            transform: translateY(-50%);
        }          
        & i.fas {
            margin-right: 16px;
            color: $lightgrey;
        }
    }
}
